.square-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-color-grey {
  background: grey;
}

.square-color-white {
  background: white;
}

@mixin piece-radius($width, $height) {
  width: $width;
  height: $height;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}


@mixin square-pawn() {
  @include piece-radius(30px, 30px);
}

@mixin square-dame() {
  @include piece-radius(40px, 40px);
}

.square-black-pawn {
  @include square-pawn;
  background: black;
}

.square-white-pawn {
  @include square-pawn;
  background: white;
}

.square-black-dame {
  @include square-dame;
  background: black;
}

.square-white-dame {
  @include square-dame;
  background: white;
}

.square-possible-move {
  border: solid 3px indianred;
}
